<div class="search-container">
  <h1>Search Cities</h1>
  
  <div class="search-form">
    <form action="/cities" method="GET">
      <div class="search-input-group">
        <input type="text" name="search" id="search" placeholder="Enter a city or country name..." autofocus>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
</div>
</div>